@using ItemCDBMigrations.Controllers
@{
    ViewBag.Title = "Reports";
}

<h2>@ViewBag.Title</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Vacancy Report By Division", "LocalReport", new { reportName = ReportsController.REPORT_VACBYDIV }, new { target = "_blank" })</li>
        <li>@Html.ActionLink("Vacancy Report By Budgeted Item Description", "LocalReport", new { reportName = ReportsController.REPORT_VACBYBUDITEMDESC }, new { target = "_blank"})</li>
    </ul>    
</div>